*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* header section  */


.heading{
    background-color: rgba(255, 144, 14, 0.1);;
    height: 1300px;
    width: 100%;
    
}
.heading-tools{
    display: flex;
    justify-content: space-around;
}
.heading-title{
    padding: 25px;
    font-size: 35px;
}

.tools-bar{
    display: flex;
    gap: 25px;
    padding: 25px;
    list-style: none;
    font-size: 20px;
    font-weight: 200;
}

/* header mid section  */


.spech{
    display: flex;
    flex-direction: column;
    gap: 20px;
   align-items: center;
   padding: 100px;
   text-align: center;
}
.spech-title{
    font-size: 50px;
    font-weight: 700;
}
.spech-des{
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px
}
.btn-primary{
    padding: 10px 20px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 10px;
}
 
/* header image  */

.img-banner{
   position: absolute;
   width: 1440px;
height: 700px;
left: 240px;
top: 577px;
}

 /* section features  */


 .features{
    display: flex;
    padding: 350px;
   align-items: center;
   justify-content: center;
   /* margin-top: -250px; */
 }
 .features-right-side{
    display: flex;
    flex-direction: column;
    gap: 25px
    ;
 }
 .span-1{
    font-size: 25px;
    font-weight: 700;
 }
.span-2{
    color: orange;
    font-size: 25px;
    font-weight: 700;
}
.features-des{
    font-size: 12px;
    color: dimgray;
}

/* section love and enjoy  */

.love-enjoy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px
    ;
}
.love-text{
    display: flex;
    flex-direction: column;
    gap: 50px
    ;
}
.love-img img{
    height: 600px;
}


.love-title{
    border-left: 2px solid orange;
    padding: 10px;

}
.love-des{
    font-size: 12px;
    color: dimgray;
}
.common{
    border: 1px solid white;
    border-radius: 5px;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.overflow{
    
position: absolute;
top: 3250px;
left: 1150px;
width: 142px;
height: 100px;
background-color: #FF900E;
text-align: center;
padding: 10px;
color: #FFFFFF;

}
.span-3{
    font-size: 35px;
    font-weight: 700;
}

/* some facts */


.facts{
    padding: 50px 350px;
}
.title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}
.des{
    font-size: 12px;
    color: dimgray; 
}

.icons{
    display: grid;
    gap: 200px
    ;
    grid-template-columns: repeat(4,1fr);
   padding: 50px 250px 100px 350px;
}
.icon{
    border: 1px solid orange;
    text-align: center;
    padding: 20px;
    transition: transform 2s;
}
.icon:hover{
    transform: rotate(360deg);
}
.icon-number{
    font-size: 50px;
    font-weight: 700;
}

.sponsors-det{
    text-align: center;
}
.sponsors-det h2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}
.sponsors-det p {
    font-size: 12px;
    color: dimgray; 
    margin-bottom: 20px;
}

  

.sopnsor-img{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(5,1fr);
    padding: 50px 200px 100px 300px;
}
.sopnsor-img img{
    filter: grayscale(100%);
}

 /* Bonas section  */

 .skill-title{
    font: 35px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 5px;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    width: 400px;
    text-align: center;
  
    margin: 0 40% 100px 40%;

 }
 .my-skills{
    background-color: #FF900E;
    width: 1000px;
    padding: 20px;
    color: white;
    margin: 0 auto;
 }
 .my-skills li{
    list-style: none;
    margin: 50px 0;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
 }
 .my-skills li::before{

    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 5px;
    background-color: lightgrey;
    width: 100%;
    height: 25px;
    border-radius: 1000px;
 }
 .my-skills li::after{

    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 5px;
    background-color: black;
    width: 0;
    height: 25px;
    border-radius: 1000px;

    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    -o-animation-direction: forward;
 }
 .my-skills li.cricket::after{
    animation-name: cricket;
 }
 @keyframes cricket{
    to{
        width: 90%;
    }
 }
 .my-skills li.bike::after{
    animation-name: bike;
 }
 @keyframes bike{
    to{
        width: 100%;
    }
 }
 .my-skills li.leadership::after{
    animation-name: leadership;
 }
 @keyframes leadership{
    to{
        width: 50%;
    }
 }
 .my-skills li.html::after{
    animation-name: html;
 }
 @keyframes html{
    to{
        width: 60%;
    }
 }
 .my-skills li.css::after{
    animation-name: css;
 }
 @keyframes css{
    to{
        width: 70%;
    }
 }



/* footer  */


.footer{
    border: 1px solid wheat;
    background-color: rgba(255, 144, 14, 0.1);;
    height: 50px;
    
    text-align: center;
    padding: 50px;
    margin: 150px;
    font-size: 20px;
}

 /* responsive section  */


 @media only screen and (max-width:576px) {
    .heading{
        height: 1000px;
        width: 100%;
    }
    .heading-tools, .tools-bar,.love-enjoy {
        flex-direction: column;
        align-items: center;
    }
   .img-banner{
    position: static;
    width: 100%;
    height: 100%;
   }
   .features {
    flex-direction: column;
    padding: 200px 0 0 40px;
    width: 100vw;
    gap: 20px
    ;}
    .love-enjoy {
       padding: 10px;
       gap: 50px
       ;
    }
    .love-img img {
        width: 100%;
        height: 500px;
    }
    .overflow{
        position: static;
    }
    .facts{
        padding: 20px 10px;
    }
    .icons {
        grid-template-columns: repeat(1,1fr);
        padding:0 20px;
        gap: 20px;
        margin-bottom: 20px;
    }
    .sopnsor-img{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        margin-bottom: 20px;
        padding: 20px 100px;
    }
    .skill-title{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .my-skills{
        width: 100%;
    }
    .footer{
        margin: 0 auto;
        height: 100%;

    }
}
 
 
